<html>
<head>
  <link rel="stylesheet" href="./index.css" type="text/css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href='https://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="terminal-simulator">
    <div class="terminal-simulator_line">
      <div class="terminal-simulator_line_content">
        <div class="terminal-simulator_line_content_prompt">
          <div class="terminal-simulator_line_content_prompt_sequence">
            <div class="terminal-simulator_line_content_prompt_sequence_char">
              $
            </div>
          </div>
        </div>
        <div class="terminal-simulator_line_content">
          <div class="terminal-simulator_line_content_sequence">
            <div class="terminal-simulator_line_content_sequence_char">
              c
            </div>
            <div class="terminal-simulator_line_content_sequence_char">
              d
            </div>
            <div class="terminal-simulator_line_content_sequence_char">
              &nbsp;
            </div>
            <div class="terminal-simulator_line_content_sequence_char">
              ~
            </div>
            <div class="terminal-simulator_line_content_sequence_char">
              /
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</body>
</html>

