<html>
<head>
  <link rel="stylesheet" href="./index.css" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="browser-container">
    <div class="browser-container_header">
      <div class="browser-container_header_button-container">
        <div class="browser-container_header_button-container_close">
        </div>
        <div class="browser-container_header_button-container_minimize">
        </div>
        <div class="browser-container_header_button-container_fullscreen">
        </div>
      </div>
    </div>
    <div class="browser-container_content">
      <!--Content goes here-->
      <div style="width: 200px; height: 200px; background-color: #303030">
      </div>
    </div>
  </div>
</body>
</html>

